.page{
    width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box{
    width: 90%;
    color: var(--fontColor);
    overflow: auto;
    background-color: var(--backgroundColor);
    padding: 1em;
}
.box p{
    text-indent: 50px;
    text-justify:newspaper;
}
hr{
    border-color: var(--colorSecond);
    margin-bottom: 2em;
}
@media only screen and (min-width: 1000px) {
    .box{
        width: 90%;
    }
    .page{
        width: 80%;
        
    }
}