.project-item {
  border-bottom: 2.5px solid var(--colorSecond);
  background-color: var(--backgroundColor);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: auto;
  margin-top: 1em;
  padding: 0;
  padding: 1em;
  padding-bottom: 0;
  color: var(--fontColor);
  width: 20em;
  margin: 1em;
  border-radius: 5px;
}
.project-item a {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-decoration: none;
  color: var(--colorSecond);
}
.project-figure {
  display: flex;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}
.screen-view {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.project-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
}
.project-title {
  font-weight: bold;
  font-size: 1.25em;
}
.links {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  justify-content: space-around;
  align-items: center;
}
.icons {
  width: 3em;
  height: 3em;
  margin: 0.2em;
  filter: brightness(1) sepia(5) hue-rotate(0deg) saturate(0);
}
.icons-tech{
  width: 3em;
  height: 3em;
  margin: 0.2em;
}
.icons:hover {
  fill: var(--colorSecond);
}
svg {
  width: 3em;
  height: 3em;
}
svg:hover {
  fill: var(--colorSecond);
}
.list-box {
  width: 90%;
  height: auto;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  max-height: 96%;
  overflow: auto;
}
.item-link {
  width: 100%;
}
.box-links{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
@media only screen and (min-width: 1000px) {
  .project-item {
    flex-direction: column;
    height: 25em;
    
  }
  .project-item a {
    flex-direction: column;
  }
  .project-figure {
    width: 100%;
    height: 10em;
    margin: 0;
  }
  .project-description {
    justify-content: flex-start;
    width: 100%;
    height: 100%;
  }
  .links {
    flex-direction: row;
    width: 100%;
    height: 100%;
    align-items: flex-start;
    justify-content: center;
  }
  .list-box {
    width: 100%;
  }
}
