
.language-detail{
    width: 70%;
    max-height: 90%;
    min-height: 90%;
    box-shadow: 0px 0px 2px 0.1px rgba(255, 255, 255, 0.26);
    overflow: auto;
    color: var(--fontColor);
    margin: 0;
    background-color: var(--backgroundColor);
}
.language-detail table{
    width: 100%;
}
input{
    color: var(--fontColor);
}
@media screen and (min-width: 0px) {
    .language-detail{
        margin-top: 1em;
        width: 90%;
        justify-content: flex-start;
    }
}
@media screen and (min-width: 480px) {

}
@media screen and (min-width: 768px) {

}
@media screen and (min-width: 1024px) {
    .language-detail{
        margin: 0;
        width: 70%;
    }
}