.contacts{
    color:var(--colorSecond);
    background-color: var(--backgroundColor);
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;
    font-size: 0.8em;
    margin-bottom: 0.5em;
}
.contacts ul{
    margin: 0;
    padding: 0;
    display: flex;
    text-align:center;
}
.contacts ul li{
    text-decoration: none;
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-top: 1em;
    padding: 0.5em;
}
.icon{
    width: 2em;
    height: 2em;
    margin: 0;
    background-color: black;
    filter: brightness(2) sepia(5) hue-rotate(0deg) saturate(0);
}
.icons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0em;
}
.icons a{
    width: 2em;
    height: fit-content;
}
.contacts li,.contacts li p{
    margin: 0;
    padding: 0;
}