.App{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  height: auto;
}
.page{
  transition-duration: 1s;
  z-index: 1;
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  height: auto;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--colorSecond);
  background-color: var(--disable);
  
}
@media only screen and (min-width: 1000px) {
  .page{
    width: 80%;
    height: auto;
  }
}
.dark-theme{
  position: absolute;
  top: 1.5em;
  right: 1em;
  z-index: 5;
  width: 25px;
  height: 25px;
  background-image: url("./imgs/dark-light.png");
  background-size: 100% 100%;
  border:none;
  background-color:transparent;
}

::-webkit-scrollbar {
  width: 2px;
  
}

::-webkit-scrollbar-track {
  background: var(--disable);
  
}

::-webkit-scrollbar-thumb {
  background: var(--colorSecond);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--colorFirst);
}

.menu-icon{
  color: var(--fontColor);
  background-color: rgba(255, 255, 255, 0.74);
}